# Imp Discord Bot
IMP_DISCORD_TOKEN=
IMP_GUILD_ID=
IMP_CHANNEL_PIPELINE=
IMP_CHANNEL_ERRORS=
IMP_CHANNEL_COVERAGE=
IMP_CHANNEL_TICKETS=
IMP_CHANNEL_RELAY=
IMP_ADMIN_ROLE_ID=
IMP_SOCKET_PATH=/tmp/imp-notify.sock
